@(maybeRoute53: Option[Route53])

<div class="panel panel-default">
    <div class="panel-heading">
        <img src="/assets/images/aws/Compute & Networking_Amazon Route 53 Hosted Zone.svg" class="aws-svg">
        Route 53
    </div>

    @if(maybeRoute53.isEmpty) {
        <div class="panel-body">
            <strong>No routing set up!</strong>
        </div>
    } else {
        @defining(maybeRoute53.get) { route53 =>
            <div class="panel-body">
                <div class="col-sm-12">
                    <span class="label label-info">@route53.hostedZone</span>
                    <span class="badge">@route53.recordSets.size</span>
                </div>
                <div class="col-sm-12">
                    <small>
                            &nbsp;
                    </small>
                </div>
                @for(rs <- route53.recordSets.sortBy(_.getName)) {
                    <div class="col-sm-4">
                        <span class="label label-default">@rs.getName</span>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="@rs.getType">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="@rs.getResourceRecords.map(_.getValue).mkString("", "\n", "")">
                            <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </div>
                }
            </div>
        }
    }
</div>